<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<!--<head>-->
<!--    <title>Getting Started: Serving Web Content</title>-->
<!--    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />-->
<!--</head>-->
<!--<body>-->
<!--<p th:text="'Hello,' +${name} +'!'" />-->
<!--</body>-->

<form id="form">
    <label for="pass">New Password: </label>
    <input type="password" id="pass" name="pass"><br>
    <label for="confirmPass">Confirm Password: </label>
    <input type="password" id="confirmPass" name="confirmPass"><br>
    <input type="submit">
</form>
<script>
    function savePass(e) {
        e.preventDefault();
        //source: Daniel Aranda from
        // https://stackoverflow.com/questions/16611497/how-can-i-get-the-name-of-an-html-page-in-javascript
        const path = window.location.pathname;
        const userId = path.substring(15, path.length);
        const pass = document.getElementById('pass').value;
        if (pass.length === 0) {
            alert('Please enter a new password!');
            return;
        }
        if (pass.length < 8) {
            alert('Please enter at least 8 characters!');
            return;
        }
        const confirmPass = document.getElementById('confirmPass').value;
        if (confirmPass.length === 0) {
            alert('Please confirm your password!');
            return;
        }
        if (confirmPass !== pass) {
            alert('Please ensure that your passwords match!');
            return;
        }
        fetch(`http://localhost:8080/User/changePass?userId=${userId}&encryptedPassword=${pass}`,
        )
            .then(res => res.json())
            .then(data => {
                alert('Your password has been successfully updated!');

            });
    }
    document.getElementById('form').addEventListener('submit', savePass, false);
</script>
</html>