<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
<head>
<style>
html {
	display: flex;
	justify-content: center;
	background-color: palegreen;
}
form {
	text-align: right;
	margin: 10px;
}
p {
	text-align: center;
	font-family: sans-serif;
	font-size: 24px;
	margin: 10px;
}
label, input {
	font-family: sans-serif;
	font-weight: normal;
	font-size: 16px;
	margin: 5px;
}
input {
	justify-content: right;
}
</style>
</head>
<body>
<p>Reset your password<p>
<form id="form">
    <label for="pass">New Password: </label>
    <input type="password" id="pass" name="pass"><br>
    <label for="confirmPass">Confirm Password: </label>
    <input type="password" id="confirmPass" name="confirmPass"><br>
    <input type="submit" onclick="savePass()">
</form>
<script>
    function savePass(e) {
        //e.preventDefault();
        //source: Daniel Aranda from
        // https://stackoverflow.com/questions/16611497/how-can-i-get-the-name-of-an-html-page-in-javascript
        const path = window.location.pathname;
        let email = path.substring(15, path.length);
        const index = email.indexOf('/');
        email = email.substring(0, index);
        const pass = document.getElementById('pass').value;
        if (pass.length === 0) {
            alert('Please enter a new password!');
            return;
        }
        if (pass.length < 8) {
            alert('Please enter at least 8 characters!');
            return;
        }
        const confirmPass = document.getElementById('confirmPass').value;
        if (confirmPass.length === 0) {
            alert('Please confirm your password!');
            return;
        }
        if (confirmPass !== pass) {
            alert('Please ensure that your passwords match!');
            return;
        }
        fetch(`http://bamboo-307.herokuapp.com/User/resetPass?email=${email}&newPass=${pass}`,
        )
            .then(res => res.json())
            .then(data => {
                alert('Your password has been successfully updated!');
            });
    }
    document.getElementById('form').addEventListener('submit', savePass, false);
</script>
</body>
</html>
