<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <style>
        html {
            display: flex;
            justify-content: center;
            background-color: palegreen;
        }
        h3 {
            text-align: center;
            font-family: sans-serif;
            font-size: 24px;
            margin: 10px;
        }
        p {
            font-family: sans-serif;
            font-weight: normal;
            font-size: 16px;
            margin: 5px;
        }
    </style>
</head>
<body>
<h3>
    Timed out
</h3>
<p>The link timed out, please click on recover account again.</p>
</body>
</html>